lib/** -diff linguist-generated=true 
dist/** -diff linguist-generated=true

# Auto line endings
* text=auto eol=lf

# When there's a conflict in pnpm-lock.yaml, use the lockfile from the current branch
pnpm-lock.yaml merge=ours